In [2]:
x=7
print(x,"---",2*x,"---",3*x,"---",4*x,"---",5*x)

7 --- 14 --- 21 --- 28 --- 35

In [10]:
x = 3
y = 12.5
print("The rabbit is", x, "." , sep="")
print("The rabbit is", x, "years old.")
print(y, "is average.")
print(y, "*" , x)
print(y, " * " , x , "is" ,y * x)

The rabbit is3.
The rabbit is 3 years old.
12.5 is average.
12.5 * 3
12.5  *  3 is 37.5

In [12]:
a = 9 - 3
b = 8 * 2.5
c = 9 / 2
d = 9 / -2
e = 9 // -2
f = 9 % 2
g = 9.0 % 2
h = 9 % 2.0
i = 9 % -2
j = -9 % 2
k = 9 / -2.0
l = 4 + 3 * 5
m = (4 + 3) * 5
print(a)  
print(b)  
print(c)  
print(d)  
print(e)  
print(f)  
print(g)  
print(h)  
print(i)  
print(j)  
print(k)  
print(l)  
print(m)

6
20.0
4.5
-4.5
-5
1
1.0
1.0
-1
1
-4.5
19
35

In [13]:
print("6 * -----------8")

6 * -----------8

In [14]:
o.	8 = people

SyntaxError: invalid syntax (3820193962.py, line 1)

In [15]:
people=8

In [20]:
print	(4 ** 3)

64

In [21]:
print (-(-(-(-5))))

5

In [24]:
a,b,c,d,e,f,g,h,i,j,k = 0,1,2,3,4,5,6,7,8,9,10
print("number\tsquare\tcube")
print(a, "\t", a**2,"\t", a** 3, sep="") 
print(b, "\t", b**2,"\t", b** 3, sep="") 
print(c, "\t", c**2,"\t", c** 3, sep="")
print(d, "\t", d**2,"\t", d** 3, sep="")
print(e, "\t", e**2,"\t", e** 3, sep="") 
print(f, "\t", f**2,"\t", f** 3, sep="") 
print(g, "\t", g**2,"\t", g** 3, sep="") 
print(h, "\t", h**2,"\t", h** 3, sep="") 
print(i, "\t", i**2,"\t", i** 3, sep="")
print(j, "\t", j**2,"\t", j** 3, sep="")
print(k, "\t", k**2,"\t", k** 3, sep="")

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729
10	100	1000

In [25]:
a,b=2,4
a=int(a*b)
b= int(a/b)
a= int(a/b)
print (a,b)

4 2

In [27]:
num1, num2 = input("enter two number").split()
num1,num2 = int(num1),int (num2)
print("the sum is", num1+num2)
print("difference is", num1-num2)
print("product is", num1*num2)
print("qoutient is", num1//num2)
print("modulus is", num1%num2)

enter two number 5 5

the sum is 10
difference is 0
product is 25
qoutient is 1
modulus is 0

In [29]:
radius = int (input("enter trhe radius: "))
print ("the diametere is", 2*radius)
print("circumference is ", 2*3.14*radius)
print("the area is" , 3.14*radius**2)

enter trhe radius:  4

the diametere is 8
circumference is  25.12
the area is 50.24

In [30]:
num= int (input("enter a number"))
p1= num%10
p2=(num%100)//10
p3= (num%1000)//100
p4= (num%10000)//1000
p5= num//10000
print (p1,p2,p3,p4,p5,sep="")

enter a number 54321

12345

In [31]:
print('''HHHHHH
HHHHH
HHHH
HHH
HH
H
''')

HHHHHH
HHHHH
HHHH
HHH
HH
H

In [36]:
num = int(input("Enter a number: "))
if num % 2:
    print(num, "is an odd number")
else:
    print(num, "is an even number")

Enter a number:  6

6 is an even number

In [38]:
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))
num3 = int(input("Enter the third integer: "))

smallest = num1
largest = num1

if num2 < smallest:
    smallest = num2
if num3 < smallest:
    smallest = num3

if num2 > largest:
    largest = num2
if num3 > largest:
    largest = num3

print("The smallest number is:", smallest)
print("The largest number is:", largest)

Enter the first integer:  5
Enter the second integer:  6
Enter the third integer:  4

The smallest number is: 4
The largest number is: 6

In [39]:
largest = None
smallest = None

for i in range(5):
    num = int(input(f"Enter integer {i + 1}: "))

    if largest is None or num > largest:
        largest = num

    if smallest is None or num < smallest:
        smallest = num

print("The largest number is:", largest)
print("The smallest number is:", smallest)

Enter integer 1:  5
Enter integer 2:  9
Enter integer 3:  4
Enter integer 4:  8
Enter integer 5:  5

The largest number is: 9
The smallest number is: 4